<p id="notice"><%= notice %></p>

<h1>Nexts</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nexts.each do |nextt| %>
      <tr>
        <td><%= nextt.number %></td>
        <td><%= link_to 'Show', nextt %></td>
        <td><%= link_to 'Edit', edit_next_path(nextt) %></td>
        <td><%= link_to 'Destroy', nextt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Next', new_next_path %>
